<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CustomChampionCreationTool.Properties.Settings.RepoConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Databases\Repo.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFacade" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www12.steenhoff.dk/Facade.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFacade" contract="FacadeService.IFacade"
                name="BasicHttpBinding_IFacade" />
        </client>
    </system.serviceModel>
</configuration>